name: Deploy Release to Pages

on:
  release:
    types: [published]

jobs:
  deploy:
    permissions:
      id-token: write
      contents: read
      pages: write

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository  # клонируем весь репозиторий с историей
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get release tag  # получаем имя тега
        id: tag
        run: |
          RAW_TAG="${GITHUB_REF#refs/tags/}"
          echo "TAG=${RAW_TAG}" >> $GITHUB_OUTPUT

      - name: Prepare versioned site directory  # создаём каталог версии и копируем файлы
        run: |
          set -euo pipefail
          RAW="${{ steps.tag.outputs.TAG }}"
          if [[ "$RAW" == v* ]]; then TAG="$RAW"; else TAG="v$RAW"; fi
          echo "Using release directory: $TAG"

          # временная директория для деплоя
          mkdir -p deploy_temp/$TAG

          # копируем нужные файлы и папки
          cp -r index.html en ru deploy_temp/$TAG/

      - name: Update root index.html  # редирект на последнюю версию
        run: |
          echo '<meta http-equiv="refresh" content="0; url='${TAG}'/">' > deploy_temp/index.html

      - name: Configure Pages
        uses: actions/configure-pages@v4

      - name: Publish to gh-pages  # публикуем каталог с версиями на gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          publish_dir: deploy_temp
          publish_branch: gh-pages
          keep_files: true
