name: Deploy
on:
  push:
    branches: [ main ]

# Джоб деплоя
jobs:
  deploy:
    permissions:
      contents: read
      pages: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create test
        run: |
          mkdir -p test
          
          cp -r index.html en ru test/ 
          ls -la test/

      - name: Deploy papki test na Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
          publish_dir: test/ 
          publish_branch: gh-pages
          keep_files: false 